<ion-view title="Informações" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="home-heading1" style="color:#595959;">Cervejometro 0.9</h1>
    <p style="text-align: justify;" style="color:#595959;">O cervejometro te ajuda a encontrar a cerveja mais barada, calcule o preço das cervejas antes de comprar e consulte os valores que seus amigos calculam para encontrar os locais com cerveja mais barata antes de sair de casa!<br>
    <br>
    <button id="cart-button1" class="button button-balanced  button-block" onclick="location.href='whatsapp://send?text=Baixe%20agora%20o%20Cervejometro%20e%20economize%20comprando%20cerveja!%20-%20http://cervejometro.4steps.com.br/'" >Compartilhe no WhatsApp</button>

    <button id="cart-button1" class="button button-face  button-block" onclick="location.href='https://goo.gl/AWb8gE'" >Compartilhe no Facebook</button> </a>


    <!--
      <div class="list card" id="home-card21">
      <ion-item class="item-avatar" id="home-list-item6">
        <h2>Item</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <ion-item class="assertive" id="home-list-item7" ui-sref="menu.cart">Button 1</ion-item>
    </div>
  -->
  </ion-content>


</ion-view>
